img{
    width: 70%;
    border-radius: 5%;
}
.example-card {
   
}
.example-header-image {
    background-size: cover;
}
.container{
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}