<mat-toolbar>
    <div class="navbar">
        <h1 mat-button>Rick And Morty</h1>
        <a mat-button [routerLink]="['/episodio']">Episodios</a>
        <mat-form-field class="example-full-width">
            <input type="text" matInput name= "search" [(ngModel)]="character" (keydown)="onSearch()">
            <button matSuffix mat-button (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
</mat-toolbar>
<div class="icon__order"></div>
<div class="container" *ngIf="loadSpinner">
    <div class="icon__filter">
        <!-- <div class="icon__order">
            <mat-icon mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="icon__order">menu</mat-icon>
            <span class="title_order">Ordenar</span>
        </div>         -->
        <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item>              
                <span (click)="orderByName()">Name</span>
            </button>            
            <button mat-menu-item>            
                <span>Species</span>
            </button>
        </mat-menu> -->
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="filterCharacter()">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>        
    </div>
    <mat-card class="example-card" *ngFor="let personaje of personajesAux">
        <mat-card-header>
            <mat-card-title>{{personaje.name}}</mat-card-title>
            <mat-card-subtitle>{{personaje.gender}}</mat-card-subtitle>
            <mat-card-subtitle>{{personaje.species}}</mat-card-subtitle>
        </mat-card-header>
        <div>
            <img mat-card-image src="{{personaje.image}}" alt="{{personaje.name}}" class="imagen">
        </div>
        <mat-card-actions>            
            <button mat-button (click)="openDialog(personaje.id)">DETALLES</button>          
        </mat-card-actions>
    </mat-card>
</div>
<div class="spinner" *ngIf="!loadSpinner">
    <mat-spinner></mat-spinner>
</div>
<mat-paginator [length]="paginas" [pageSize]="1" [pageSizeOptions]="[1]" aria-label="Select page" (page)="handlePage($event)" *ngIf="loadSpinner"></mat-paginator>
